@charset "UTF-8";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 1.5rem;
  background-color: #fff;
  border-bottom: 1px solid black;
}

.header-logo img {
  height: 32px;
}

.header-nav ul {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.header-nav a:hover {
  color: red;
  transition: 0.5s;
}

@media (min-width: 680px) {
}
